@use '@angular/material' as mat;

:host {
    flex: none;
    display: flex; flex-direction: row;
    justify-content: space-around;
    margin-top: -2dvh;
}

.keypad {
    flex: none;
    display: grid;
    grid-template-columns: repeat(3, 2cm) 0.3cm 2cm;
    gap: 1rem;
}

mat-form-field {
    // compress the display a little.
    position: relative; top: 2dvh;
}

.call {
    place-content: center;
    text-align: center;
}

mat-label {
  color: var(--mat-sys-primary)
}

.special {
  @include mat.button-overrides((
    filled-container-color: var(--mat-sys-tertiary),
    filled-label-text-color: var(--mat-sys-on-tertiary),
    outlined-outline-color: var(--mat-sys-tertiary),
    outlined-label-text-color: var(--mat-sys-tertiary),
  ));
}

.wide {
    grid-column-start: 1;
    grid-column-end: 6;

    text-align: center;

    input {
        text-align: center;
    }
}