@use '@angular/material' as mat;

:host {
    flex: auto;
    display: flex; flex-direction: row;
    justify-content: space-around;
}

.keypad {
    flex: none;
    display: grid;
    grid-template-columns: repeat(3, 2cm);
    gap: 1rem;
}

.wide {
    grid-column-start: 1;
    grid-column-end: 4;

    text-align: center;

    input {
        text-align: center;
    }
}