<div class="spacer">&nbsp;</div>
<div class="keypad">
    <mat-form-field class="wide" appearance="outline" floatLabel="always">
        <mat-label>enter carpool numbers</mat-label>
        <input matInput [(ngModel)]="value" (keydown)="onKeydown($event)">
    </mat-form-field>

    <button matButton="filled"   (click)="onButton(7)"  >7</button>
    <button matButton="filled"   (click)="onButton(8)"  >8</button>
    <button matButton="filled"   (click)="onButton(9)"  >9</button>
    <div></div>
    <div class="call">Call</div>

    <button matButton="filled"   (click)="onButton(4)"  >4</button>
    <button matButton="filled"   (click)="onButton(5)"  >5</button>
    <button matButton="filled"   (click)="onButton(6)"  >6</button>
    <div></div>
    <button matButton="outlined" (dblclick)="onButton(-1)" class="special">all</button>

    <button matButton="filled"   (click)="onButton(1)"  >1</button>
    <button matButton="filled"   (click)="onButton(2)"  >2</button>
    <button matButton="filled"   (click)="onButton(3)"  >3</button>
    <div></div>
    <button matButton="outlined" (dblclick)="onButton(-2)" class="special">+4</button>

    <button matButton="outlined" (click)="onButton('b')">⌫</button>
    <button matButton="filled"   (click)="onButton(0)"  >0</button>
    <button matButton="outlined" (click)="onButton('e')">⏎</button>
    <div></div>
    <button [matButton]="option() ? 'filled' : 'outlined'" (dblclick)="onButton(-3)" class="special">auto</button>
</div>
<div class="spacer">&nbsp;</div>
