@use '@angular/material' as mat;

:host {
    margin: 0 1dvh; flex: auto;
    display: flex; gap: 1dvh;
    flex-direction: row;
    min-height: 0; min-width: 0;
}

.lane,
.door,
.room {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;

    :last-child {
        overflow: hidden;
    }
}

.title {
    background-color: cyan;
    color: black;
    text-align: center;
}
