<div class="lane">
    <div class="title">Lane</div>
    <div class="content">
        <car-lane-page></car-lane-page>
    </div>
</div>
<div class="door">
    <div class="title">Door</div>
    <div class="content">
        <car-door-page></car-door-page>
    </div>
</div>
<div class="duo">
    <div class="room">
        <div class="title">Room</div>
        <div class="content">
            <car-room-page></car-room-page>
        </div>
    </div>
    <div class="escort">
        <div class="title">Escort</div>
        <div class="content">
            <car-escort-page></car-escort-page>
        </div>
    </div>
</div>