@use '@angular/material' as mat;

:host {
    flex: none;
    display: flex; flex-direction: row;
    justify-content: space-around;
}

.keypad {
    flex: none;
    display: grid;
    grid-template-columns: repeat(3, 2cm);
    gap: 1rem;
}
