:host {
    flex: auto; height: 100%;
}

.content {
    height: 100%;
    display: flex; flex-direction: column;
    @media (min-aspect-ratio: 1) {
        flex-direction: row;
    }
}

.content.sinistral {
    @media (min-aspect-ratio: 1) {
        flex-direction: row-reverse;
    }
}
.queue {
    flex: auto;
    display: flex; flex-direction: column-reverse;
    align-items: center; gap: 1dvh;
    overflow-y: auto; margin-bottom: 1dvh;
}

car-keypad {
    flex: 0;
    @media (min-aspect-ratio: 1) {
        margin: 1dvw;
    }
}