.shade {
    z-index: 911;
    position: absolute;
    top: 0; left: 0;
    height: 100dvh; width: 100dvw;
    display: grid; place-items: center;
    background-color: black;
    opacity: 0.9;
}

.message {
    border: 1dvh solid red;
    border-radius: 6dvh;
    padding: 3dvh;
    font-size: 3dvh; line-height: 1.5;
    text-wrap: pretty;
    max-width: 50dvw;
}