@use '@angular/material' as mat;

.content {
    display: grid; height: 100dvh;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 'header' 'main' 'footer';
}

$overscan: 2dvh;
.overscan {
    border: $overscan solid var(--mat-sys-surface);
    height: calc(100dvh - $overscan * 2)
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    display: flex; flex-direction: column;
    overflow-y: hidden;
}

footer {
    grid-area: footer;
    padding: 1dvh;
}

router-outlet {
    display: none;
}