@use '@angular/material' as mat;

.container {
    display: flex; flex-direction: row;
    width: 3cm;
}

.labelgroup {
    flex: auto;
    display: flex; flex-direction: column;
    text-align: center;
}

.type {
    font-size: xx-small;
}

.number {
    font-size: large;
}

.menuitem {
    display: none;
}

.show {
    display: unset;
}

.blink {
    border-color: var(--mat-sys-surface) !important;
}

.lane, .call, .recall, .send, .exit, .gone {
    border: 1px solid;
    border-radius: 2dvh;
    padding: 1dvh;
}
.lane {
    border-color: hsl(240, 0%, 50%);
}
.call {
    border-color: hsl(220, 50%, 50%);
}
.recall {
    border-color: hsl(60, 50%, 50%);
}
.send {
    border-color: hsl(270, 50%, 50%);
}
.exit {
    border-color: hsl(0, 50%, 50%);
}
.gone {
    border-color: hsl(120, 50%, 50%);
}