@use '@angular/material' as mat;

:host {
    height: 100%; display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 'superior' 'inferior';
    place-content: center;
}

.superior {
    display: flex; flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; align-items: center;
    gap: 1dvh;
}

.inferior {
    place-content: center;
    text-align: center;
    grid-area: inferior;

    @include mat.button-overrides((
        filled-container-color: var(--mat-sys-tertiary),
        filled-label-text-color: var(--mat-sys-on-tertiary),
        outlined-outline-color: var(--mat-sys-tertiary),
        outlined-label-text-color: var(--mat-sys-tertiary),
    ));
}